.btn-round{
  border-radius: 30px;
  padding: 10px 30px;
}

.btn-square{
  border-radius: 0px;
}

.btn-theme{
  border: 2px solid #fff !important;
  font-size: 20px;
  color: #fff !important;
  padding: 20px;
  background-color: transparent !important;
}

.btn-theme > a{
  color: #fff !important;
}

.btn-theme:hover a{
  text-decoration: none !important;
  color: #000 !important;
}

.btn-theme:hover{
  background-color: #fff !important;
  color: #000 !important;
}

.machinery{
  border: 1px solid #000;
  margin: 0px;
  padding: 5px;
}

.machinery:hover{
  border: 3px solid #0080ff !important;
}

.bg-softblack{
  background-color: #3b4045 !important;
}

.btn-blue{
  border: 3px solid #3490dc;
  color: #3490dc;
  font-size: 20px;
}

.btn-blue:hover{
  background-color: #3490dc;
  color: #fff;
}

.white-text{
  color: #fff !important;
}
